:root {
    --main-heading-color: rgba(255, 255, 255, 0.9);
    --secondary-heading-color: rgba(255, 255, 255, 0.78);
    --main-text-color: rgba(255, 255, 255, 0.55);
    --input-text-color: rgba(255, 255, 255, 0.38);
    --first-background-color: #1E252B;
    --secondary-background-color: #283036;
    --hover-color: #FFFFFF;
    --accent-color: #FF6E30;
    --secondary-accent-color: #FFFFFF;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--main-text-color);
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: var(--first-background-color);
}

/* .logo-text {
    font-family: "Lora", sans-serif;
} */

.btn {
    min-width: 106px;
    padding: 12px 28px;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.transparent-btn {
    color: var(--secondary-heading-color);
    background-color: transparent;
}

.load-btn {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--accent-color);
    background-color: transparent;
}

.transparent-btn:hover,
.load-btn:hover {
    color: #fdf5ff;
    background-color: var(--accent-color);
}

.accent-btn {
    color: #fdf5ff;
    background-color: var(--accent-color);
}

.accent-btn:hover {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--accent-color);
    background-color: transparent;
}

/* Загальний стиль для form */
form {
    position: relative;
    padding: 8px 12px;
    background: #283036;
    width: 498px;
    height: 64px;
    border-radius: 15px;
}
  /* Псевдоелемент, що створює градієнтний бордер */
.search-form::before,
.join-form::before {
    content: '';
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: -1;
    background-image: linear-gradient(120deg, #343A40, #343a4000);
    border-radius: 15px;
}

form input {
    padding: 12px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--main-text-color);
}

.title {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.3;
    text-align: center;
    color: var(--main-heading-color);
}

.container {
    width: 1254px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    outline: 1px dashed #f44336;
}

.flex {
    display: flex;
}

section {
    max-width: 1440px; 
    margin-right: auto;
    margin-left: auto;
}

/* header */
.header {
    padding-top: 24px;
    padding-bottom: 58px;
}

.header a:hover{
    color: var(--accent-color);
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 256px;
    font-weight: 600;
    font-size: 22px;
    color: var(--main-heading-color);
}

.header-logo > div,
.footer-logo > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 8px;
}

.header-logo:hover > div,
.footer-logo:hover > div {
    background-color: var(--accent-color);;
}

.header-nav {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}

.header-nav-list {
    display: flex;
    gap: 36px;
}

.header-category > .icon {
    vertical-align: bottom;
    stroke: #FFFFFF;
    stroke-opacity: 0.55;
}

.header-category:hover > .icon {
    stroke: var(--accent-color);
    stroke-opacity: 1;
}

.buttons-list {
    display: flex;
    gap: 12px;
    margin-left: auto;
}

.buttons-list .transparent-btn:hover {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--accent-color);
    background-color: transparent;
}

/* hero */
.hero {
    padding-top: 46px;
    background-image: url(../images/bg-hero.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

.hero-heading {
    width: 600px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 50px;
    line-height: 1.4;
    color: var(--main-heading-color);
}

.hero-heading > span {
    color: var(--accent-color);
}

.hero-info {
    width: 488px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 1.67;
}

.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 110px;
    padding-left: 16px;
}

.search-form:focus-within::before {
    background-image: linear-gradient(120deg, #EA8C4F, #587298);
}
  
.search-form > input::placeholder {
    font-size: 14px;
    color: var(--input-text-color);
}

.search-form > svg {
    stroke: white;
}

.search-form > svg:hover {
    stroke: var(--accent-color);
}

.search-form > .accent-btn {
    margin-left: auto;
}

.icons-list {
    display: flex;
    gap: 8px;
}

.icons-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    border-radius: 8px;
}

.icons-list-item:hover {
    background-color: var(--secondary-background-color);
}

/* popular */
.popular {
    padding-top: 200px;
    padding-bottom: 200px;
}

.popular-title {
    margin-bottom: 90px;
}

.popular-text {
    width: 428px;
    margin-bottom: 110px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.67;
}

.popular-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 100px;
    margin-bottom: 100px;
}

.popular-item {
    width: calc((100% - 48px) / 3);
    padding: 32px;
}

/* .popular-item::before {
    content: "";
    border-radius: 15px;
    display: none;
    width: 392px;
    height: 294px;
    background: #283036;
    border-radius: 100%;
    fill: rgba(255, 110, 48, 0.6);
    filter: blur(50px);
}

.popular-item:hover::before {
    display: block;
} */

.popular-item:hover {
    border-radius: 15px;
    backdrop-filter: blur(50px);
    background: rgba(40, 48, 54, 0.6);
}

.tools-name {
    margin-bottom: 30px;
}

.tools-name > h3 {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.78);
}

.popular-item:hover .tools-name > p {
    color: #FFA537;
}

.tools-name > p {
    color: rgba(255, 165, 55, 0.55);
}

.popular-item:hover .tools-name > h3 {
    color: var(--main-heading-color);
}

.popular-description {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0em;
}

.popular-item:hover .popular-description {
    color: var(--secondary-heading-color);
}

.tools-call-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-action-list {
    display: flex;
    gap: 12px;
}

.call-action-list > li {
    width: 42px;
    height: 42px;
}

.popular .load-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* brands */
.brands {
    padding: 56px 82px;
    text-align: center;
}

.brands-heading {
    margin-bottom: 56px;
    font-weight: 500;
    font-size: 24px;
    color: var(--secondary-heading-color);
}

.brands-list {
    display: flex;
    gap: 106px;
    justify-content: center;
}

/* newcomer */
.newcomer {
    padding-top: 200px;
    padding-bottom: 200px;
}

.newcomer-info {
    width: 427px;
}

.newcomer-title {
    margin-bottom: 30px;
}

.newcomer-text {
    margin-bottom: 60px;
    font-weight: 500;
    line-height: 1.67;
}

.newcomer-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 50px;
    width: 600px;
    margin-left: auto;
}

.newcomer-item {
    width: calc((100% - 24px) / 2);
    padding: 28px 22px;
}

.newcomer-item:hover {
    border-radius: 15px;
    backdrop-filter: blur(50px);
    background: rgba(40, 48, 54, 0.6);
}

.newcomer-description {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 214%;
}

.newcomer-item:hover .newcomer-description {
    color: var(--secondary-heading-color);
}

.newcomer-tool {
    margin-bottom: 30px;
}

.newcomer-tool > h3 {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 24px;
    color: var(--secondary-heading-color);
}

.newcomer-item:hover .newcomer-tool > h3 {
    color: var(--main-heading-color);
}

.newcomer-tool > p {
    font-size: 14px;
    line-height: 2.14;
    color: rgba(255, 165, 55, 0.55);
}

.newcomer-item:hover .newcomer-tool > p {
    color: #ffa537;
}

.newcomer-call {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newcomer-icons {
    display: flex;
    gap: 12px;
}

/* testimonial */
.testimonial-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 104px;
    margin-bottom: 100px;
}

.testimonial-card {
    display: flex;
}

.testimonial-card-text {
    width: 392px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.01em;
    color: var(--secondary-heading-color);
}

.testimonial-card-autor {
    width: 400px;
}

.testimonial-card-autor > h3 {
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 0.01em;
    color: var(--secondary-heading-color);
}

.testimonial-card-autor > p {
    font-style: 16px;
}

.testimonial-gallery-btns {
    display: flex;
    gap: 18px;
    justify-content: center;
}

/* join */
.join {
    padding-top: 250px;
    padding-bottom: 240px;
    border-bottom: 0.50px solid rgba(255, 255, 255, 0.15);
    text-align: center;
}

.join-title {
    margin-bottom: 25px;
}

.join-text {
    margin-bottom: 100px;
    font-weight: 500;
    line-height: 1.67;
    text-align: center;
}

.join form {
    display: flex;
    justify-content: space-between;
    width: 549px;
    margin: 0 auto;
}

/* footer */
.footer {
    padding-top: 70px;
    padding-bottom: 98px;
}

.footer {
    font-weight: 500;
    font-size: 16px;
}

.footer a:hover{
    color: var(--accent-color);
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 22px;
    color: var(--main-heading-color);
}

.footer-info {
    width: 260px;
    margin-right: 156px;
}

.footer-info > h3 {
    margin-bottom: 21px;
    font-weight: 500;
    font-size: 16px;
    color: var(--main-heading-color);
}

.footer-info > p {
    font-size: 14px;
    line-height: 1.79;
}

.footer-list {
    display: flex;
    gap: 115px;
}

.footer-list h3 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    color: var(--main-heading-color);
}

.footer-category-list li:not(:last-child) {
    margin-bottom: 10px;
}